[submodule "packages/red-jasmine/address"]
	path = packages/red-jasmine/address
	url = git@github.com:red-jasmine/address.git
[submodule "packages/red-jasmine/address-admin"]
	path = packages/red-jasmine/address-admin
	url = git@github.com:red-jasmine/address-admin.git
[submodule "packages/red-jasmine/admin"]
	path = packages/red-jasmine/admin
	url = git@github.com:red-jasmine/admin.git
[submodule "packages/red-jasmine/auth"]
	path = packages/red-jasmine/auth
	url = git@github.com:red-jasmine/auth.git
[submodule "packages/red-jasmine/captcha"]
	path = packages/red-jasmine/captcha
	url = git@github.com:red-jasmine/captcha.git
[submodule "packages/red-jasmine/mall-buyer"]
	path = packages/red-jasmine/mall-buyer
	url = git@github.com:red-jasmine/mall-buyer.git
[submodule "packages/red-jasmine/mall-core"]
	path = packages/red-jasmine/mall-core
	url = git@github.com:red-jasmine/mall-core.git
[submodule "packages/red-jasmine/mall-payment"]
	path = packages/red-jasmine/mall-payment
	url = git@github.com:red-jasmine/mall-payment.git
[submodule "packages/red-jasmine/payment"]
	path = packages/red-jasmine/payment
	url = git@github.com:red-jasmine/payment.git
[submodule "packages/red-jasmine/region"]
	path = packages/red-jasmine/region
	url = git@github.com:red-jasmine/region.git
[submodule "packages/red-jasmine/region-admin"]
	path = packages/red-jasmine/region-admin
	url = git@github.com:red-jasmine/region-admin.git
[submodule "packages/red-jasmine/supplier"]
	path = packages/red-jasmine/supplier
	url = git@github.com:red-jasmine/supplier.git
[submodule "packages/red-jasmine/user"]
	path = packages/red-jasmine/user
	url = git@github.com:red-jasmine/user.git
[submodule "packages/red-jasmine/support"]
	path = packages/red-jasmine/support
	url = git@github.com:red-jasmine/support.git
[submodule "packages/red-jasmine/card"]
	path = packages/red-jasmine/card
	url = git@github.com:red-jasmine/card.git
[submodule "packages/red-jasmine/product"]
	path = packages/red-jasmine/product
	url = git@github.com:red-jasmine/product.git
[submodule "packages/red-jasmine/mall-seller"]
	path = packages/red-jasmine/mall-seller
	url = git@github.com:red-jasmine/mall-seller.git
[submodule "packages/red-jasmine/product-admin"]
	path = packages/red-jasmine/product-admin
	url = git@github.com:red-jasmine/product-admin.git
[submodule "packages/red-jasmine/order"]
	path = packages/red-jasmine/order
	url = git@github.com:red-jasmine/order.git
[submodule "packages/red-jasmine/wallet"]
	path = packages/red-jasmine/wallet
	url = git@github.com:red-jasmine/wallet.git
[submodule "packages/red-jasmine/logistics"]
	path = packages/red-jasmine/logistics
	url = git@github.com:red-jasmine/logistics.git
